/*_________________________ CSS Reset _________________________*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
border: 1px solid black;
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*_________________________ General Styles _________________________*/
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
	font-size: 62.5%;
}

body{
	line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Bree Serif', serif;
}

h4 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Shadows Into Light', cursive;
}

a {
    font-family: 'Roboto', sans-serif;
}

/*_________________________ Header CSS _________________________*/
header {
    background-color: rgb(103,143,196);
}

.topBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    .Name {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        /* .Name h1 {
            font-size: 7rem;
            width: 100%;
            text-align: center;
        } */

        .Name img {
            /* width: 50%; */
            height: 14vh;
            width: 60%;
        }

    .TopButtons {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .TopButtons nav {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

            .TopButtons nav button {
                padding: 18px 35px 18px 35px;
                border-radius: 12%;
                background-color: rgb(217,192,158);
            }

                .TopButtons nav a {
                    text-decoration: none;
                    color: black;
                    font-size: 2.2rem;
                    font-weight: 900;
                    letter-spacing: 0.15rem;
                    /* -webkit-text-stroke: 0.01px black; */
                }

/*_________________________ Body CSS _________________________*/
/*--- Section1: .HeaderContainer---*/

.HeaderContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    /* .Me, .Info {
        width: 50%;
    } */

        .Me {
            display: flex;
            justify-content: center;
            background-color: black;
            width: 40%;            
        }

            .Me img {
                width: 75%;
            }

        .Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            background-image: url('/BeachPics/Tribal_Copyrighted.JPG');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

            .Info h2 {
                font-size: 8rem;
                text-shadow: 3px 3px white;
            }

            .Info button {
                background-color: black;
                border-radius: 10%;
                padding: 12px 27px 12px 27px;
                margin: 4% 0% 4% 0%;
            }

                .Info button a {
                    text-decoration: none;
                    font-size: 3rem;
                    color: rgb(103,143,196);
                }

            .Info p {
                font-size: 3rem;
                font-weight: 800;
                width: 75%;
                text-shadow: 2px 2px white;
            }

/*-------- Section2: .Gallery--------*/
.Gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    .box {
        width: 30%;
        margin: 1% 1.5% 1% 1.5%;
        display: flex;
        flex-direction: column;
    }    

        .Gallery img {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .Gallery h3 {
            font-size: 4rem;
            text-align: center;
        }

        .Gallery h4 {
            font-size: 3rem;
            text-align: center;
        }

        .Gallery p {
            font-size: 2.3rem;
            font-weight: 550;
            text-align: center;
        }

/*_________________________ Footer CSS _________________________*/

footer {
    background-color: rgb(140,170,210);
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    /* align-items: center;
    width: 100%; */
}

    /* .footerBox {

    } */

        .footerBox h3 {
            font-size: 2rem;
        }

        .footerBox button {

        }

            .footerBox button a {
                text-decoration: none;
            }

    footer nav {
        display: flex;
        justify-content: space-evenly;
    }

    footer nav button {
        padding: 18px 35px 18px 35px;
        border-radius: 12%;
        background-color: rgb(217,192,158);
    }

        footer nav a {
            text-decoration: none;
            color: black;
            font-size: 2.2rem;
            font-weight: 900;
            letter-spacing: 0.15rem;
            /* -webkit-text-stroke: 0.01px black; */
        }

    footer p {
        font-size: 1.1rem;
    }

/*_________________________ Media Queries _________________________*/
/*-------- Tablet --------*/
@media (max-width: 800px) {
    body {
      background-color: lightgreen;
    }
  }

/*-------- Mobile --------*/
  @media (max-width: 500px) {
    body {
      background-color: blue;
    }
  }