/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
border: 1px solid black;
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    /* font family */
}

header {
    background-color: lightblue;
}

.Name {

}

.TopButtons {

}

    .TopButtons nav a {

    }

/*-----------------------------------------------------------------*/

.HeaderContainer {

}

    .Me img {

    }

    .Info {

    }

        .Info h2 {

        }

        .Info button {

        }

            .Info button a {

            }

        .Info p {

        }

.Gallery {

}

    .Gallery img {

    }

    .Gallery h3 {

    }

    .Gallery h4 {

    }

    .Gallery p {

    }

        .Project1 {

        }

        .Project2 {

        }

        .Project3 {

        }

        .Project4 {

        }

        .Project5 {

        }

        .Project6 {

        }

        .Project7 {

        }

        .Project8 {

        }

/*-----------------------------------------------------------------*/

footer {
    background-color: lightblue;
}

    .footerBox {

    }

        .footerBox h3 {

        }

        .footerBox button {

        }

            .footerBox button a {

            }

    footer nav {

    }

        footer nav a {

        }

    footer p {

    }

/*-----------------------------------------------------------------*/